@using test.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<SACH>

@{
    ViewBag.Title = "SachtheoNXB";
}
<div class="container>
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
            <ul class="list-group">
                <li class="list-group-item active" style="font-weight:bold;text-align:center">
                    SÁCH THEO CHỦ ĐỀ
                </li>
                @Html.Action("SubjectChude", "Home")

            </ul>
            <br />
            <ul class="list-group">
                <li class="list-group-item active" style="font-weight:bold;text-align:center">
                    SÁCH THEO NHÀ XUẤT BẢN
                </li>
                @Html.Action("SubjectNXB", "Home")
            </ul>
        </div>
        <div class="col-sm-9 col-md-9 col-lg-9 col-xs-12">
            <h2 class="text-center">@ViewBag.tenchude</h2>
            <hr />
            <div class="row text-center">
                @foreach (var sach in Model)
                {

                    <a href="@Url.Action("Chitietsach","Home",new {id= sach.MaSach })">
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
                            <div class="thumbnail">
                                <div style="height:300px">
                                    <img src="~/Content/img/Sach/@sach.HinhMinhHoa" alt="" height="300" class=" img-rounded imgbook" />
                                </div>
                                <div>
                                    <div style="height:130px">
                                        <h3><a href="@Url.Action("Chitietsach","Home",new {id= sach.MaSach })">@sach.TenSach</a></h3>
                                        <p>Mô tả sản phẩm</p>
                                    </div>
                                    <p>
                                        <a href=" @Url.Action("ThemGioHang", "GioHang", new { ms = sach.MaSach, url = Request.Url.ToString() })" class="btn btn-primary" role="button">
                                            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true">
                                                add to cart
                                            </span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                }

            </div>
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
            <div class="MenuTrang">
                @Html.PagedListPager(Model, page => Url.Action("SachtheoNXB", new { id = ViewBag.MACD, page = page }))
            </div>
            <style>
                .MenuTrang {
                    display: inline;
                }
            </style>
        </div>
        
    </div>
</div>
