@model test.Models.DONDATHANG

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DONDATHANG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayDH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TriGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TriGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DaGiao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaGiao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayGiaoHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayGiaoHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenNguoiNhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNguoiNhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChiNhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChiNhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DienThoaiNhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienThoaiNhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HTThanhToan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HTThanhToan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HTGiaoHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HTGiaoHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KHACHHANG.HoTenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHACHHANG.HoTenKH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SoDH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
